<div style="text-align: center;" >
    <h2>Detalle de la campaña</h2>
</div>
<div class="flex justify-content-center align-items-center" *ngIf="stats.labels.length>=1">
<div>
   <p-chart type="doughnut" [data]="stats"  [style]="{'width': '250px', 'height':'250px'}"></p-chart> 
</div>

<div>
   <p-table [value]="tableStats">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Votos</th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stat>
        <tr>
        
            <td>{{stat.name}}</td>
            <td>{{stat.votes}}</td>
        </tr>
    </ng-template>
</p-table> 
</div>

</div>

