<div class="mb-2">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  transparent;">
  
      <div class="container-fluid  ">
        &nbsp;
      
          <a class="navbar-brand"  [routerLink]="[ '/']">
            <img src="../../assets/img/logo.png" alt="" width="125" height="70">
          </a>
      
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          </ul>
          <ul class="navbar-nav d-flex " >
           <!--  <li class="nav-item mr-2">
              <a class="btn btn-primary " aria-current="page" [routerLink]="[ '/registro']" *ngIf="!isAuthenticated && connectedToB==true" >Crear Cuenta</a>
            </li> -->
            <li class="nav-item">
          &nbsp;
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-warning" [routerLink]="[ '/login' ]" *ngIf="!isAuthenticated && connectedToB==true">Iniciar Sesion</a>
  
  
            </li>
            <li class="nav-item">
              <a class="nav-link hovertrue" (click)="onLogout()" *ngIf="isAuthenticated"><h2 class="badge btn btn-outline-warning"> Cerrar sesion</h2></a>
  
  
            </li>
            <li class="nav-item" *ngIf="isAuthenticated && userEmail!=undefined">
              <a class="nav-link">  Bienvenido {{userEmail}}</a>
            </li>
  
          </ul>
  
        </div>
      </div>
  
  
    </nav>
  </div>
