<!--================Login Box Area =================-->



<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">

            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert"
                *ngIf="error != null && error!= undefined">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    {{error}}
                </div>
            </div>
            <div class="col-lg-6">
            
                <div class="login_box_img">
<!-- 
                        <img src="../../assets/img/LOGO-SC.png" alt="" class="img-fluid"> -->

                    <div class="hover">
                        <h4>Aun no estas registrado?</h4>
                        <p>Crea una cuenta para empezar a votar por tu cantante favorito</p>
                        <a class="button button-account" [routerLink]="[ '/registro']">Crear una cuenta</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3 style="color: white; margin-bottom: 5px !important;">Inicia sesión para entrar</h3>
                    <form class="row login_form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Correo electrónico" inputmode="email" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Correo electrónico'" #email="ngModel"
                                [(ngModel)]="user.email" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"  name="name" placeholder="Contraseña"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'"
                                #password="ngModel" [(ngModel)]="user.password" required>
                        </div>
                        <!--   <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Mantener sesión iniciada</label>
                            </div>
                        </div> -->
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-primary button-login w-100" [disabled]="loginForm.invalid || !user.password">Iniciar
                                Sesión</button>
                            <!-- <a href="#">Olvidaste tu contraseña?</a> -->
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="container">
                                <firebase-ui     (signInSuccessWithAuthResult)="successCallback($event)"
                              (signInFailure)="errorCallback($event)"
                              (uiShown)="uiShownCallback()"></firebase-ui>  
                              </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->