
<div class="main-body" style="background-color: rgba(36, 34, 34, 0.836);">
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>

<footer class="my-footer mt-2">  
    <div style="background-color: white;  margin: 0px auto;" class="mt-1">
<img src="https://picsum.photos/200" alt="" class="img-fluid" style="max-width: 50px; max-height: 50px;">
     </div>
 Derechos Reservados &copy; <a href="http://www.fundaciontcs.com" style="color: black; font-weight: bold;"> Ven a cantar  TCS</a>

</footer>