/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';
.centered-disc {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }
  .maindiv{
    background-image: url('./assets/img/background.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
  }
  .p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: #ffc107 !important;
}