<div class="card">
    <div class="flex flex-column md:flex-row card-container align-items-center justify-content-center">
<div class="p-1">
    
    <div class="grid">
     
        <div class="col-6 xl:col-6">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-center">
                     <div class=" text-xl text-900 font-medium mb-5">Nombre Participante</div>
                </div>
               
                <div class="min-w-full">
                    <img src="https://via.placeholder.com/500" class="img-fluid" alt="...">
                </div>
             
                <div class="flex  justify-content-center align-items-center pt-3"><button pbutton="" pripple="" label="Votar"
                        class="p-ripple p-element p-button-outlined p-button-danger w-6 mr-2 p-button p-component"><span
                            class="p-ink"></span><span class="p-button-label">Votar por nombre</span></button>
                            
                         </div>
            </div>
        </div>
        <div class="col-6 xl:col-6">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-center">
                    <div class=" text-xl text-900 font-medium mb-5">Nombre Participante</div>
               </div>
                <div class="min-w-full">
                    <img src="https://via.placeholder.com/500" class="img-fluid" alt="...">
                </div>
               
                <div class="flex justify-content-center align-items-center pt-3">
                    <button pbutton="" pripple="" label="Votar"
                        class="p-ripple p-element p-button-outlined p-button-success w-6 mr-2 p-button p-component"><span
                            class="p-ink"></span><span class="p-button-label">Votar por nombre</span></button>
                           </div>
            </div>
        </div>
       
    </div>
</div>
</div>
</div>
